.App {
  text-align: center;
}

* {
  font-family: 'Rubik', sans-serif;
}

.p-component {
  direction: rtl;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #3D4873;
  direction: rtl;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-blue-color {
  background-color: #3D4873;
}

.bg-white-color {
  background-color: #ffffff;
}

.bg-orange-color {
  background-color: #F5A777;
}

.c-blue-color {
  color: #3D4873;
}

.c-white-color {
  color: #ffffff;
}

.c-orange-color {
  color: #F5A777;
}

.red{
  color: red
}

.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #3D4873;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.itemscenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vw;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.color-white{
  color: white;
}

.App-link {
  color: #61dafb;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.absolute-top {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
}

.textBorder-White{
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

@media (max-width: 991px) {
  .itemscenter {
    padding-top: 20vw;
  }
}

@media (max-width: 600px) {
  .itemscenter {
    padding-top: 25vw;
  }
}

@media (max-width: 400px) {
  .itemscenter{
    padding-top: 30vw;
  }
}

@media (max-width: 310px) {
  .App{
    width: 100vw;
  }
}
