.App {
  text-align: center;
}

* {
  font-family: 'Rubik', sans-serif;
}

.p-component {
  direction: rtl;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #3D4873;
  direction: rtl;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-blue-color {
  background-color: #3D4873;
}

.bg-white-color {
  background-color: #ffffff;
}

.bg-orange-color {
  background-color: #F5A777;
}

.c-blue-color {
  color: #3D4873;
}

.c-white-color {
  color: #ffffff;
}

.c-orange-color {
  color: #F5A777;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}